.DS_Store
.env
.venv

# Python
__pycache__/
*.pyc
*.pyo

# Flask
instance/
*.db

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/


app/static/images/profile_pictures/*
!app/static/images/profile_pictures/.gitkeep