{% extends 'base_app.html' %}

{% block title %}Notella — Note Preview{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}"/>
{% endblock %}

{% block page_content %}

      <div class="editor-header">
        <div class="editor-header-left">
          <div class="dash-greeting">
            <a href="{{ url_for('main.discover') }}" class="back-btn">
              <i class="bi bi-arrow-left"></i>
               Note Preview
            </a> 
           
          </div>
          <div class="dash-title editor-title" id="note-title" >Note Name</div>
        </div>


        <div class="editor-header-right">
          <button class="btn-save" id="btn-save" onclick="copyNote()">Copy</button>
        </div>
      </div>

      <div class="dash-divider"></div>


      <div class="editor-layout">


        <div class="editor-box">
          <div class="editor-pane">
                <div class="editor-pane-right">
                  <!-- <div class="editor-pane-label preview-label">Preview Section</div> -->
                  <div class="md-preview" id="md-preview" style="display:block; flex:1;"></div>
              </div>
          </div>

        </div>

        <div class="editor-side">
           <div class="editor-side-card">
              <div class="editor-side-label">Table of Contents:</div>
              <div id="toc-list"></div>
          </div>

          <div class="editor-side-card">
            <div class="editor-side-label">Description:</div>
            <div class="side-textarea" id="note-description"></div>
          </div>

          <div class="editor-side-card">
            <div class="editor-side-label">Tags:</div>
            <div class="tags-wrap" id="tags-wrap">
            </div>
          </div>

          <div class="editor-side-card">
              <div class="editor-side-label">Details:</div>
              <div class="note-detail-row">
                  <span class="note-detail-label">Creator</span>
                  <span class="note-detail-value" id="detail-creator">—</span>
              </div>
              <div class="note-detail-row">
                  <span class="note-detail-label">Created</span>
                  <span class="note-detail-value" id="detail-created">—</span>
              </div>
              <div class="note-detail-row">
                  <span class="note-detail-label">Updated</span>
                  <span class="note-detail-value" id="detail-updated">—</span>
              </div>
          </div>

        </div>
      </div>
  <div id="note-data" data-note-id="{{ note.note_id if note else '' }}"></div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  

  <script src="{{ url_for('static', filename='js/note_preview.js') }}"></script>
{% endblock %}