{% extends 'base.html' %}

{% block title %}Notella — Change Password{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
{% endblock %}

{% block content %}

<div id="page-data" data-profile-url="{{ url_for('main.profile') }}" style="display:none;"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="login-card col-9 col-sm-10 col-md-8">
            <!-- <div class="mb-4">
                <img class="logo-img" src="{{ url_for('static', filename='images/svg/notella_logo_plain.svg') }}" alt="Notella logo"/>
            </div> -->
            <div class="welcome">Change Password</div>

            <div id="error-msg" class="errors" style="display:none;"></div>

            <div class="fields">
              <input class="field" type="password" placeholder="current password" autocomplete="off" id="old_pass"/>
              <input class="field" type="password" placeholder="new password" autocomplete="off" id="new_pass"/>
              <input class="field" type="password" placeholder="confirm new password" autocomplete="off" id="conf_new_pass"/>
            </div>
            
            <div class="dash-divider"></div>
            
            <div style="display: flex; gap: 10px; width: 100%;">
                <button class="btn-create" id="back" style="width: 30%; padding: 0 20px; height: 52px; flex-shrink: 0; box-sizing: border-box;">Back</button>
                <button class="btn-login" id="change_pass" style="flex: 1; height: 52px; margin-bottom: 0; box-sizing: border-box;">Update Password</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/change_password.js') }}"></script>


{% endblock %}