{% extends 'base_app.html' %}

{% block title %}Notetella — Profile{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock %}

{% block page_content %}
            <div style="display: flex; justify-content: center; margin-bottom: 16px;">
                <img class="logo-img" src="{{ url_for('static', filename='images/svg/notella_logo_plain.svg') }}" alt="Notella logo"/>
            </div>
            
            <hr>

            <!--Overview-->
            <div>
                <p style="color: var(--text-primary); margin-bottom: 10px;">Overview</p>
                <div class="smallboxes">
                    <div class="smallbox">
                        <p class="transparent">Notes</p>
                        <p class="num">27</p>
                        <p class="transparent">5 public</p>
                    </div>
                    <div class="smallbox">
                        <p class="transparent">Decks</p>
                        <p class="num">40</p>
                        <p class="transparent">18 public</p>
                    </div>
                    <div class="smallbox">
                        <p class="transparent">Total Quizzes</p>
                        <p class="num">38</p>
                        <p class="transparent">past month</p>
                    </div>
                    <div class="smallbox">
                        <p class="transparent">Avg. Quiz Score</p>
                        <p class="num">78%</p>
                        <p class="transparent">across all notes</p>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Account -->
            <p class="section-title">Account</p>
            <div class="settings-row">
                <span class="settings-label">username</span>
                <span class="settings-value">user1</span>
            </div>
            <div class="settings-row">
                <span class="settings-label">email</span>
                <span class="settings-value">user1@gmail.com</span>
            </div>
            <div class="settings-row">
                <span class="settings-label">password</span>
                <div>
                    <span class="settings-value">••••••••</span>
                    <button class="btn-create btn-back" id="change_password">></button>
                </div>
            </div>

            <hr>

            <!-- Preferences -->
            <p class="section-title">Preference</p>
            <div class="settings-row">
                <span class="settings-label">dark mode</span>
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider"></span>
            </label>
            </div>

            <!-- Buttons -->
            <button class="btn-login" style="margin-top:16px;" id="logout">Log Out</button>
            <button class="btn-create" style="margin-top:10px;" id="del">Delete Account</button>


    <script>
        const lo = document.getElementById("logout")
        const del = document.getElementById("del")
        const change_pass = document.getElementById("change_password")
        lo.addEventListener('click', function(){
            window.location.href="{{ url_for('main.logout') }}"
        })
        del.addEventListener('click', function(){
            window.location.href="{{ url_for('main.register') }}"
        })
        change_pass.addEventListener('click', function(){
            window.location.href = "{{ url_for('main.change_password') }}"
        })
    </script>
{% endblock %}
